@import 'reset';
@import 'icons';
@import 'mixins';
@import 'colors';
@import 'buttons';

body {
    background: url(../img/bg.png);
    font-family: 'Titillium Web', Tahoma, 'Trebuchet MS', sans-serif;
    font-size: 85%;
    font-weight: 400;
}

@media screen and (min-width: 25em) {
    body {
        font-size: 100%;
    }
}

@media screen and (min-width: 32em) {
    body {
        font-size: 115%;
    }
}

#calculator-wrapper {
    margin: 0 auto;
    max-width: 32em; 
    padding: 1em;
}

h1 img {
    max-width: 100%;
}

#tabs {
    overflow: hidden;
    margin: 1em auto;
    width: 90%;
}

#swimTab,
#bikeTab,
#runTab {
    color: $lightgray;
    float: left;
    font-size: 2.5em;
    text-decoration: none;
    text-align: center;
    @extend .transition;
    width: 33%;

    &:hover {
        @extend .transition;
    }

    &:hover,
    &:active,
    &.selected {
        color: $darkgray;
    }
}

#swimTab { margin-left: 0; }


h3 { 
    color: darken($primary, 10%);
    font-size: 1.4em;
    margin-bottom: .5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input,
select {
    @include br(.15em);
    border: .0625em solid lighten($black, 65%);
    font-size: 1.3em;
    outline: none;  
    padding: .25em;  
}

input {
    background-color: transparent;
    width: 1.5em;

    &:disabled {
        background-color: rgba($primary, .1);
        border-color: darken($primary, 10%);
    }
}

select {
    border-color: #5c5c5c;
    @include gradient(#e6e6e6, #ddd, #dfdfdf);
    -webkit-appearance: none;
    color: #5c5c5c;
}

.minutes,
.paceMinutes {
    width: 1.75em;
}

.pace { width: 4em; }
.distance { width: 4.2em; }
@include ph(rgba($black, 0.25));

.row {
    margin: 1em 0;
    padding: 0 0 0 3em;
    position: relative;

    &:first-child {
        margin-top: 1em;
    }

    &:before {
        bottom: .25em;
        content: "\3e";
        color: lighten($lightgray, 8%);
        font-family: "icomoon";
        font-size: 1.75em;
        width: 1em;
        height: 1em;
        left: 0;
        position: absolute;
    }
}

.ready:before { content: "\5e"; }
.ready:before,
.disabled:before
{ color: lighten($darkgray, 15%); }

.clearRow {
    bottom: .5em;
    color: $lightgray;
    cursor: pointer;
    font-size: 1.25em;
    height: 1em;
    position: absolute;
    right: .25em;
    @extend .transition;
    width: 1em;

    &:hover {
        color: $darkgray;
        @extend .transition;
    }
}

a { cursor: pointer; }

.selected {
    
}


/* -- Generic Classes -- */
.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.hide { display: none; }
.screen-reader-text { @extend .ir; }
